body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: slategrey;
}

.weather-container {
    text-align: center;
    padding: 30px;
    background: white;
    border-radius: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.hidden {
    display: none;
}

#city-input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

weather-result p {
    margin: 5px 0;
}
